# Folders that were used by no UI version
GSC Source/
zGSC Source/

# Python cache files and directories
__pycache__/
*.py[cod]
*$py.class

# Personal files
config.json
updater.py
debug.log
lui.txt
.vscode/
project.code-workspace/
UI OLD/
backup/
Black Ops 3/
test_prefix.csv
test_suffix.csv

# WIP folders
scr/