/GSC Source/bo6-source-main.zip
# Folders that were used by no UI version
GSC Source/
zGSC Source/

# Python cache files and directories
__pycache__/
*.py[cod]
*$py.class

# Personal files
settings.json
updater.py
debug.log
lui.txt
.vscode/
project.code-workspace/
UI OLD/
backup/

# WIP folders
scr/