/.vscode/
/project.code-workspace/

/__pycache__/
/Classes/__pycache__/

/lui.txt
/lui_log.txt

/GSC Source/bo3-source-main/
/GSC Source/bo3-source-main.zip
/GSC Source/bo4-source-main/
/GSC Source/bo4-source-main.zip
/GSC Source/bocw-source-main/
/GSC Source/bocw-source-main.zip
/GSC Source/mwiii-source-main/
/GSC Source/mwiii-source-main.zip
/GSC Source/bo6-source-main/
/GSC Source/bo6-source-main.zip

/hashes/bo3-scr.csv
/hashes/bo4-scr.csv
/hashes/bocw-scr.csv
/hashes/mwiii-scr.csv
/hashes/bo6-scr.csv

/Found/

/bo3/
/bo4/
/bocw/
/mwiii/
/bo6/

/backup/